.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image_product_offers {
  height: 120px;
  width: 120px;
}

.info_products_offers {
  font-style: italic;
}

.separator {
  width: 220px;
  margin-Top: 3px;
}

.image-top{
  background: url('./assets/fondo1.jpeg') no-repeat center center fixed;
  background-size: cover;
}

/* Estilo para el input con transparencia */
.input-search {
  background: rgba(255, 255, 255, 0.5) !important; /* Color blanco con 50% de opacidad */
  padding: 8px !important; /* Ajusta el relleno según tus preferencias */
  outline: none !important;
  border: none !important;
}
